<div class="hero">
  <div class="row">
    <div class="col-xs-12">
      <h1>wallet address to url</h1>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <p>Having multiple wallet addresses for different crypto currecnies can be difficult to remember. CoinSend allows you to enter public addresses and link them to a custom url <strong>CoinSend.com/YourUrl</strong></p>
      <div class="block">
        <a href="/awesome">See an example</a>
      </div>
     
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <div class="arrow-hero">
          <div class="arrow-hero__left arrow-hero__element">
            <p><strong>Bitcoin:</strong> 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea</p>
            <p><strong>Etherium:</strong> 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea</p>
            <p><strong>Ripple:</strong> 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea</p>
          </div>
          <div class="arrow-hero__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
                <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
              0.375,0.375 45.63,38.087 0.375,75.8 "/>
              </svg>
            </div>
            <div class="arrow-hero__right arrow-hero__element">
              <p>CoinSend.com/<strong class="green">YourURL</strong></p>
            </div>

            </div>
           
            </div> 
      </div>
    </div>
  </div>
</div>

<!-- <div class="jumbotron">
  <h1>Crypto wallet address to url</h1>
  <p>CoinSend is a method of converting multiple wallet addresses to a single customized URL <strong>CoinSend.com/YourUrl.</strong> This way you can easily remeber and send to people CoinSend.com/YourURl rather than <br> bitocin: 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea, <br> etherium: 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div> -->

<div class="row">
  
  <div class="col-xs-6 col-xs-offset-3">


    <form method="post" action="/user/create">
    <h2>Start here</h2>

        <div class="form-group">
          <label for="username">Username </label>
          <p>This is your unique text. CoinSend.com/MyAwesomeWallet</p>
          <input type="text" name="username" placeholder="My Awesome Wallet">
        </div>
        <div class="form-group">
          <label for="password">Password </label>
          <p>You will need a password to edit your page. To update or add wallet addresses. <br> <strong>Note: You will not be able to recover this is you lose it so keep it safe.</strong></p>
          <input type="password" name="password">
        </div>
        <div class="form-group">
          <label for="publicKey">Publid Wallet Address </label>
          <p>You will need at least one wallet address to get started</p>
          <input type="walet" name="publicKey" placeholder="eg .0x79dbfc3719a4209302d4fe0edc8cf0d74193caea">
        </div>
        <button type="submit" class="button">Create your page</button>
    </form>
  </div>
</div>
