<section class="bg-primary pb0">
    <div class="container pt80">
        <div class="row mb24 mb-xs-0">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 class="large">Wallet To URL</h1>
                <p class="lead">
                    Having multiple wallet addresses for different crypto currencies<br> can be difficult to remember. CoinSend allows you to enter <br> public addresses and link them to a custom url <strong>CoinSend.com/YourUrl</strong>
                </p>
                <form class="form-newsletter halves" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
               <!--      <input type="text" name="email" class="transparent validate-email validate-required  signup-email-field field-error" placeholder="Email Address">
                    <button type="submit" class="btn-white">Start Free</button>
                    <iframe srcdoc="<form action=&quot;http://mrareco.createsend.com/t/d/s/dyikkh/&quot; method=&quot;post&quot; id=&quot;subForm&quot;>     <p>         <label for=&quot;fieldName&quot;>Name</label><br />         <input id=&quot;fieldName&quot; name=&quot;cm-name&quot; type=&quot;text&quot; />     </p>     <p>         <label for=&quot;fieldEmail&quot;>Email</label><br />         <input id=&quot;fieldEmail&quot; name=&quot;cm-dyikkh-dyikkh&quot; type=&quot;email&quot; required />     </p>     <p>         <button type=&quot;submit&quot;>Subscribe</button>     </p> </form>" class="mail-list-form">
                    </iframe> -->
                <a href="/superAwesome" type="submit" class="btn btn-white btn-lg">See an example</a>
                <a href="/superAwesome" type="submit" class="btn btn-white btn-lg">Create your page</a>

                </form>

            </div>
        </div>
        <!--end of row-->
        <div class="row mb80 mb-xs-24">
            <div class="col-sm-6 col-sm-offset-3 text-center">
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <img alt="image" src="images/app2.png">
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="bg-dark pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="container ">
    <div class="row mb24 mb-xs-0">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h2 class="large">Start here</h2>
            <p class="lead">
                Use the form below to create your page.
                <br> You will then be able to add your wallet addresses
            </p>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="feature bordered text-center">
                    <h4 class="uppercase">Create your page here</h4>

                    <hr />
                    <form class="text-left" method="post" action="/user/create">
                        <label>This is your custom URL it also serves as your username. CodeSend.com/MyAwesomeWallet</label>
                        <input type="text" name="username" placeholder="My Awesome Wallet">
                        <label>You will need a password to edit your page. To update or add wallet addresses. <strong>Note: You will not be able to recover this is you lose it so keep it safe.</strong></label>
                        <input type="password" name="password">

                   <!--      <label>You will need at least one public wallet address to begin</label>
                        <input type="text" name="publicKey" placeholder="Public wallet address">
                        <h5 class="uppercase">Which coin is the wallet for?</h5>
                        <div>
                            <div class="radio-option checked">
                                <div class="inner"></div>
                                <input type="radio" name="cointype" value="etherium">
                            </div>
                            <span>Ethereum</span>
                        </div>
                        <div>
                            <div class="radio-option">
                                <div class="inner"></div>
                                <input type="radio" name="cointype" value="bitcoin">
                            </div>
                            <span>Bitcoin</span>
                        </div>
                        <div>
                            <div class="radio-option">
                                <div class="inner"></div>
                                <input type="radio" name="cointype" value="ripple">
                            </div>
                            <span>Ripple</span>
                        </div> -->
                        <input type="submit" value="Create your page">
                    </form>
                    <!-- <p class="mb0">By signing up, you agree to our -->
                        <!-- <a href="#">Terms Of Use</a> -->
                    <!-- </p> -->
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>

    <!--end of container-->
    </section>