
  <!-- <div class="jumbotron">
    <h1>Crypto wallet address to url</h1>
    <p>CoinSend is a method of converting multiple wallet addresses to a single customized URL <strong>CoinSend.com/YourUrl.</strong> This way you can easily remeber and send to people CoinSend.com/YourURl rather than <br> bitocin: 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea, <br> etherium: 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="btn btn-primary">Learn more</a></p>
  </div> -->

<!--   <div class="row">
    
    <div class="col-xs-6 col-xs-offset-3">


      <form method="post" action="/user/create" class="signupForm form">
      <h2>Start here</h2>

          <div class="form-group">
            <label for="username">Username </label>
            <p>This is your unique text. CoinSend.com/MyAwesomeWallet</p>
            <input type="text" name="username" placeholder="My Awesome Wallet">
          </div>
          <div class="form-group">
            <label for="password">Password </label>
            <p>You will need a password to edit your page. To update or add wallet addresses. <br> <strong>Note: You will not be able to recover this is you lose it so keep it safe.</strong></p>
            <input type="password" name="password">
          </div>
          <div class="form-group">
            <label for="publicKey">Publid Wallet Address </label>
            <p>You will need at least one wallet address to get started</p>
            <div>
                <input type="radio" id="etherium" name="cointype" value="etherium" checked>
                <label for="male">etherium</label>

                <input type="radio" id="Bitcoin" name="cointype" value="Bitcoin">
                <label for="female">Bitcoin</label>

                <input type="radio" id="Litecoin" name="cointype" value="Litecoin">
                <label for="other">Litecoin</label>
              </div>
            <input type="walet" name="publicKey" placeholder="eg .0x79dbfc3719a4209302d4fe0edc8cf0d74193caea">
          </div>
          <button type="submit" class="btn btn-primary">Create your page</button>
      </form>
    </div>
  </div>


  <div class='container'>
    <div class="hero">
      <div class="row">
        <div class="col-xs-12">
          <h1>wallet address to url</h1>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
          <p>Having multiple wallet addresses for different crypto currecnies can be difficult to remember. CoinSend allows you to enter public addresses and link them to a custom url <strong>CoinSend.com/YourUrl</strong></p>
          <div class="block">
            <a href="/superAwesome">See an example</a>
          </div>
         
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <div class="arrow-hero">
              <div class="arrow-hero__left arrow-hero__element">
                <p><strong>Bitcoin:</strong> 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea</p>
                <p><strong>Etherium:</strong> 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea</p>
                <p><strong>Litecoin:</strong> 0x79dbfc3719a4209302d4fe0edc8cf0d74193caea</p>
              </div>
              <div class="arrow-hero__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
                    <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
                  0.375,0.375 45.63,38.087 0.375,75.8 "/>
                  </svg>
                </div>
                <div class="arrow-hero__right arrow-hero__element">
                  <p>CoinSend.com/<strong class="green">YourURL</strong></p>
                </div>

                </div>
               
                </div> 
          </div>
        </div>
      </div>
    </div>
 -->

  <div class="c-section -space-large" id="section-about">
    <div class="c-container">
      <div class="row -gutter-medium">
        <div class="col-lg-6">
          <!-- Heading -->
          <p><span class="c-label-1 -style-outline -color-green -corner-circle">INTRODUCING</span></p>
          <h2 class="u-text-title">create beautiful stories<br>with just a few taps.</h2>
          <p class="u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing.Vivamus <br>blandit tortor eu justo tempus, et bibendum magna iaculis.</p>
          <p class="u-color-grey">Mauris mattis nisl enim, vitae efficitur augue interdum eu.<br>Duis lectus turpis, lacinia congue condimentum<br>id gravida at risus.</p>
          <p><a href="#" class="c-link-1">Read more <span class="c-link-1-icon -right ion-android-arrow-forward"></span></a></p>
          <!-- Heading End -->
        </div>
        <div class="col-lg-6">
          <!-- Video -->
          <div class="c-video-1" data-cursor-overlay="2" data-cursor-round="10" data-cursor-shadow="40">
            <a class="c-video-1-link magnific-iframe" href="https://vimeo.com/58363288">
              <img class="c-video-1-image" src="assets/img/photo-1.jpg" alt="Photo Title">
              <span class="c-video-1-icon">
                <i class="fa fa-play" aria-hidden="true"></i>
              </span>
            </a>
          </div>
          <!-- Video End -->
        </div>
      </div>

      <!-- Space -->

      <!-- Space End -->

      <!-- Divider -->
      <!-- Space End -->
    </div>
  </div>


  <div class="c-section -space-large -bg-blue-light">
    <div class="c-container">
      <div class="row">
        <div class="col-lg-6">
          <h6 class="u-text-sup">START HERE</h6>
          <h2 class="u-text-title">we propose several options <br>for your needs.</h2>
          <p class="u-text-lead">Lorem ipsum dolor sit amet consectetur adipiscing elit <br>semper tempor congue aliquam.</p>
        </div>

        <!-- Space -->
        <!-- <div class="u-space u-space-60@sm"></div> -->
        <!-- Space End -->

        <div class="col-lg-6">

          <div class="elements-section" id="variant-1">
            <div class="elements-section" id="variant-1-1">
              <div class="elements-example">
                <div class="elements-example-header">
                  <h4>VARIANT 1</h4>
                  <h3>Forms <small>BASIC</small></h3>
                </div>
                <div class="elements-example-body">
                  <!-- Form -->
                  <form class="c-form" method="post" action="/user/create">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="c-form-group">
                          <label class="c-form-label">Username</label>
                          <input class="c-form-input" type="text" name="name" placeholder="Enter Your Name" required="">
                          <span>This is your unique text. CoinSend.com/MyAwesomeWallet</span>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="c-form-group">
                          <label class="c-form-label">Password</label>
                          <input class="c-form-input" type="text" name="surname" placeholder="Enter Your Surname" required="">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="c-form-group">
                          <label class="c-form-label">Coin Type</label>
                          <div class="c-form-group-label -inline">
                            <label>
                            <input class="c-form-radio" type="radio" name="cointype" id="etherium" value="etherium">Etherium</label>
                            <label>
                            <input class="c-form-radio" type="radio" name="cointype" id="bitcoin" value="bitcoin">Bitcoin</label>
                            <input class="c-form-radio" type="radio" name="cointype" id="riple" value="riple">Riple</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="c-form-group">
                          <label class="c-form-label">Message</label>
                          <input class="c-form-input" type="walet" name="publicKey" placeholder="eg .0x79dbfc3719a4209302d4fe0edc8cf0d74193caea">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <button class="c-button-1 -color-green-outline -hover-green-default -size-small" type="submit" name="button">SEND FORM</button>
                      </div>
                    </div>
                  </form>
                  <!-- Form End -->
                </div>
              </div>
            </div>
          </div>


          <!-- Services -->
        <!--   <form method="post" action="/user/create" class="signupForm form">

              <div class="form-group">
                <label for="username">Username </label>
                <p>This is your unique text. CoinSend.com/MyAwesomeWallet</p>
                <input type="text" name="username" placeholder="My Awesome Wallet">
              </div>
              <div class="form-group">
                <label for="password">Password </label>
                <p>You will need a password to edit your page. To update or add wallet addresses. <br> <strong>Note: You will not be able to recover this is you lose it so keep it safe.</strong></p>
                <input type="password" name="password">
              </div>
              <div class="form-group">
                <label for="publicKey">Publid Wallet Address </label>
                <p>You will need at least one wallet address to get started</p>
                <div>
                    <input type="radio" id="etherium" name="cointype" value="etherium" checked>
                    <label for="male">etherium</label>

                    <input type="radio" id="Bitcoin" name="cointype" value="Bitcoin">
                    <label for="female">Bitcoin</label>

                    <input type="radio" id="Litecoin" name="cointype" value="Litecoin">
                    <label for="other">Litecoin</label>
                  </div>
                <input type="walet" name="publicKey" placeholder="eg .0x79dbfc3719a4209302d4fe0edc8cf0d74193caea">
              </div>
              <button type="submit" class="btn btn-primary">Create your page</button>
          </form> -->
        </div>
      </div>
      
      <!-- Services End -->
    </div>
  </div>