<!-- <div class="row">
	<div class="col-xs-6 col-offset-3">
		<form method="POST" action="/user/signInPost">
			<div class="form-group">
			  <label for="username">Url </label>
			  <input type="username" name="username" />
			</div>
			<div class="form-group">
			  <label for="password">Password </label>
			  <input type="password" name="password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</div> -->


<div class="main-container">
	<section class="cover fullscreen image-bg overlay bg-primary pb0">
	    <div class="container v-align-transform">
	        <div class="row">
	            <div class="col-sm-6 col-sm-offset-3">
	                <div class="feature bordered text-center">
	                    <h4 class="uppercase">Login</h4>
	                    <form class="text-left" method="POST" action="/user/signInPost">
	                        <input type="text" name="username" placeholder="Username">
	                        <input type="password" name="password" placeholder="Password">
	                        <input type="submit" value="login">
	                    </form>
	                </div>
	            </div>
	        </div>
	        <!--end of row-->
	    </div>
	    <!--end of container-->
	</section>
</div>