label {
	color: white;
}

.wallets section:nth-child(2) {
	background: #f8f8f8;
}

.coin-logo {
	width: 150px;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.edit-button__container {
	position: absolute;
	right: 0;
	z-index: 999;
}