label {
	color: white;
}

.wallets section:nth-child(2n) {
	background: #f8f8f8;
}

.coin-logo {
	width: 150px;
	height: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.edit-button__container {
	position: absolute;
	right: 0;
	z-index: 999;
}

.bg-light .btn:visited, .bg-light .btn:visited:hover {
	border: 0;
}

.qr-code-container {
	margin-top: 40px;
}

.qr-code-container img {
	min-width: 400px;
}